# Local datasets and large files — not pushed to GitHub
.DS_Store
Crude_Oil_Prices.csv
Dallas Crimes Project Proposal.pdf
Dallas_Crimes_dallas_Website_For_Where.csv
STAT 3355 Project Slides.pdf
.env

